body {
    margin: 0;
    font-family: 'Rubik' !important;
    height: 100vh;
    max-height: fit-content;
    font-size: 24px !important;
}

h1 {
    font-size: 48px !important;
    color: white !important;
    text-align: center;
    font-family: 'Rubik';
}

h5 {
    font-family: 'Rubik';
    font-size: 36px !important;
    font-weight: bold !important;
}

code {
    color: black !important;
    font-size: 32px !important;
}

.container {
    display: flex !important;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh) !important;
}

.card {
    background-color: #F7F7F7 !important;
    min-width: 80% !important;
    height: 100% !important;
    display: flex;
    flex-direction: row;
}

.navbar {
    background-color: #27355c;
}

.navbar-nav {
    color: white;
    padding: 16px !important;
}


.start-card-button {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}


.quiz-type-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 16px;
}

.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

}

.nav-icon {
    cursor: pointer;
    object-fit: cover;
    height: 32px;
    width: 32px;
}

.progress-text {
    display: flex;
    align-items: center;
    justify-content: center;
}


.btn {
    text-align: center;
    padding: auto;
    font-size: 32px !important;
}

.btn-start {
    background-color: rgb(255, 102, 0) !important;
    float: right !important;
    color: white !important;
}





.inline-icon {
    object-fit: cover;
    height: 1.1em;
}

.color-inverted-icon {
    filter: invert(1);
}

.result-main-img {
    object-fit: cover;
    width: 20% !important;
}

.trophy-img {
    object-fit: cover;
    position: absolute;
    right: 0;
    height: 30vh;
    top: 35vh;
}

.app-img {
    object-fit: cover;
    width: 40%;
}


li::marker {
    background-color: #000000;
    padding: 2px;
}


.nav-item:before {
    content: '';
    padding: 0;
}

ol {
    list-style-type: none;
}

ol>li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    counter-increment: list;
    margin-bottom: 12px;
}

ol>li::before {
    content: counter(list, upper-alpha);
    display: inline-grid;
    place-items: center;
    height: 64px;
    width: 64px;
    
}

.li-default {
    background-color: white;
}

.li-default::before {
    background-color: #D6D6D6;
}


.li-success {
    background-color: #B7F799;
}

.li-success::before {
    background-color: #4EBE1A;
    color: white;
}

.li-danger {
    background-color: #FFA3A4;
}

.li-danger:before {
    background-color: #F91816;
    color: white;
}


@media screen and (max-width: 1600px) {
    
}



@media screen and (max-width: 600px) {
    .trophy-img {
        display: none;
    }

    .container{
        margin:4px !important;
    }
}