body {
    margin: 0;
    font-family: 'Rubik';
    min-height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.trueQuestion{
    background-color: green;
}

.falseQuestion{
    background-color: tomato;
}

.nav{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    
}

.nav-icon{
    cursor: pointer;
    object-fit: cover;
    height:32px;
    width:32px;
}

.progress-text{
    display: flex;
    align-items: center;
    justify-content: center;
}

